
body, html {
	width: 100%;
	height: 100%;
	margin:0;
	font-family:"微软雅黑";
}

#allmap {
	height:500px; 
	width: 100%;
}

#bottom {
	width:100%;
	height: 300px;
	padding-left: 0px;
}

#control {
	float:left; display:inline;
	width:30%; 
	height:100%;
}

#monitor {
	float:left; display:inline;
	margin-left: 3%;
	height:100%; 
	width: 50%;
	background-color:#EEEEEE;
}